<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Core Online Tutorial - List Products</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

<link href="../../static/css/spring-core.css"
	th:href="@{css/spring-core.css}" rel="stylesheet" media="screen" />
</head>
<body>
	<div class="container">
		<div th:if="${not #lists.isEmpty(dogodki)}">
			<h2>List Dogodkov</h2>
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>naziv</th>
					<th>lokacija</th>
					<!--  	<th>zacetek</th>
					<th>trajanje</th>
					<th>konecPrijav</th>
					<th>konecOdjav</th>-->
					<th>minOseb</th>
					<th>maxOseb</th>
					<th>opis</th>
					<!--	<th>status</th>  
					<th>potrebnoPovabilo</th> -->
				</tr>
				<tr th:each="dogodki : ${dogodki}">
					<td th:text="${dogodki.id}"></td>
					<td th:text="${dogodki.naziv}"></td>
					<td th:text="${dogodki.lokacija}"></td>
					<!-- 		<td th:date="${dogodki.zacetek}"></td>
					<td th:date="${dogodki.trajanje}"></td>
					<td th:date="${dogodki.konecPrijav}"></td>  -->
					<td th:date="${dogodki.konecOdjav}"></td>
					<td th:text="${dogodki.minOseb}"></td>
					<td th:text="${dogodki.maxOseb}"></td>
					<td th:text="${dogodki.opis}"></td>
					<!--	<td th:text="${dogodki.status}"></td>  
					<td th:text="${dogodki.potrebnoPovabilo}"></td> -->
					<td><a th:href="${'/product/show/' + dogodki.id}">View</a></td>
					<td><a th:href="${'/product/edit/' + dogodki.id}">Edit</a></td>
					<td><a th:href="${'/product/delete/' + dogodki.id}">Delete</a>
					</td>


				</tr>
			</table>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<a href="/product/new">Novi Dogodek</a>
			</div>
		</div>
	</div>

	<div class="container">
		<div th:if="${not #lists.isEmpty(organizatorji)}">
			<h2>Lista Organizatorov</h2>
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>Ime</th>
					<th>Priimek</th>
					<th>Email</th>
				</tr>
				<tr th:each="organizatorji : ${organizatorji}">
					<td th:text="${organizatorji.id}"></td>
					<td th:text="${organizatorji.ime}"></td>
					<td th:text="${organizatorji.priimek}"></td>
					<td th:text="${organizatorji.email}"></td>
					<td><a th:href="${'/product/show/' + organizatorji.id}">View</a></td>
					<td><a th:href="${'/product/edit/' + organizatorji.id}">Edit</a></td>
					<td><a th:href="${'/product/delete/' + organizatorji.id}">Delete</a>
					</td>


				</tr>
			</table>
		</div>
		<!--	<div class="row">
			<div class="col-sm-3">
				<a href="/product/new">Novi Organizator</a>
			</div>
		</div> -->
	</div>




	<h1>Dobrodošli v dogodkih.</h1>

	<div>
		<form action="addDogodek">
			<label for="naziv">Naziv:</label> <input id="naziv" type="text"
				name="naziv" placeholder="Vpisite naziv dogodka."><br>

			<label for="lokacija">Lokacija:</label> <input id="lokacija"
				type="text" name="lokacija" placeholder="Vpisite lokacijo dogodka."><br>

			<label for="zacetek">Zacetek:</label> <input id="zacetek" type="date"
				name="zacetek"> <input id="zacetekCas" type="time"
				name="zacetek"><br> <label for="konec">Konec:</label> <input
				id="konec" type="date" name="trajanje"> <input id="konecCas"
				type="time" name="trajanje"><br> <label for="opis">Opis:</label><br>
			<textarea rows="4" cols="25" id="opis" type="text" name="opis"
				placeholder="opisite dogodek.">
</textarea>
			<br>

			<!-- <input type='file' id="inputFile" />
<br> -->

			<label for="minOseb">Minimalno oseb:</label> <input id="minOseb"
				type="number" name="minOseb" placeholder="Vpisite naziv dogodka."><br>

			<label for="maxOseb">Maksimalno oseb:</label> <input id="maxOseb"
				type="number" name="maxOseb" placeholder="Vpisite naziv dogodka."><br>

			<label for="povabilo">Povabilo? <input id="povabilo"
				type="checkbox" name="potrebnoPovabilo"></label><br>





			<button id="gumb2" type="submit" value="OK">OK</button>
		</form>
	</div>



	<div>
		<table border="1">
			<tr>
				<th>ime</th>
				<th>priimek</th>
				<th>email</th>
			</tr>
			<c:forEach items="${organizator}" var="dogodek">
				<tr>
					<td>${organizator.ime}</td>
					<td>${organizator.priimek}</td>
					<td>${organizator.email}</td>

				</tr>
			</c:forEach>
		</table>
	</div>



	<a href="listDogodek"> Tu imate listo dogodkov.</a>


	<script>
		/*
		 $(document).ready(function(){

		 $('html').css({ 'font-weight': 'bold', 'background-color': 'lightblue'});
		 $('#opis').click(function(){
		 var zacetek=$('#zacetek').val();
		 var konec=$('#konec').val();
		 console.log(Date.parse(zacetek));
		
		 if((Date.parse(zacetek) > Date.parse(konec))){
		 alert("Please select a different End Date.");
		 }
		 });
		
		
		
		 $("#gumb2").click(function(){
		 var slika=$('#inputFile').val();
		 var event =
		 'Dogodek : '+$('#naziv').val()+'<br>'+
		 'Lokacija: '+$('#lokacija').val()+'<br>'+
		 'Zacetek: '+$('#zacetek').val()+', '+$('#zacetekCas').val()	+'<br>'+
		 'Konec: '+$('#konec').val()+', '+$('#konecCas').val()+'<br>'+
		 'Opos: '+$('#opis').val()	+'<br>'+
		 'Minimal oseb: '+$('#minOseb').val()+'<br>'+
		 'Maximal oseb: '+$('#maxOseb').val();
		
		 $('#drugo').hide();		
		 $( "#tretje" ).fadeIn( "slow", function() {
		 $('p#izpis').html(event);
		 //$("#image_upload_preview").css({'height': '100px','width': '100px','background-color': 'powderblue'});
		 $('img.slika').mouseover(function(){
		 $('#txtSlika').text(slika
		
		 );
		 $('img.slika').mouseout(function(){
		 $('#txtSlika').text(""
		
		 );
		 $('div#tretje').css({});
		
		
		
		 });
		 });
		 });
		 });});
		
		
		
		
		 /*function readURL(input) {
		 if (input.files && input.files[0]) {
		 var reader = new FileReader();

		 reader.onload = function (e) {
		 $('#image_upload_preview').attr('src', e.target.result);
		 }

		 reader.readAsDataURL(input.files[0]);
		 }
		 }

		 $("#inputFile").change(function () {
		 readURL(this);
		 });*/
	</script>

</body>
</html>